//Merriweather
@font-face {
font-family: 'Merriweather';
font-style: normal;
font-weight: normal;
src: local('Merriweather'), url('../fonts/Merriweather-Regular.ttf') format('truetype');
}

@font-face {
font-family: 'Merriweather';
font-style: italic;
font-weight: normal;
src: local('Merriweather Italic'), url('../fonts/Merriweather-Italic.ttf') format('truetype');
}


@font-face {
font-family: 'Merriweather';
font-style: normal;
font-weight: 200;
src: local('Merriweather Light'), local('Merriweather'), url('../fonts/Merriweather-Light.ttf') format('truetype');
}


@font-face {
font-family: 'Merriweather';
font-style: italic;
font-weight: 200;
src: local('Merriweather Light Italic'), local('Merriweather Italic'), url('../fonts/Merriweather-LightItalic.ttf') format('truetype');
}

@font-face {
font-family: 'Merriweather';
font-style: normal;
font-weight: 700;
src: local('Merriweather Bold'), local('Merriweather'), url('../fonts/Merriweather-Bold.ttf') format('truetype');
}


@font-face {
font-family: 'Merriweather';
font-style: italic;
font-weight: 700;
src: local('Merriweather Bold Italic'), local('Merriweather Italic'), url('../fonts/Merriweather-BoldItalic.ttf') format('truetype');
}

@font-face {
font-family: 'Merriweather';
font-style: normal;
font-weight: 900;
src: local('Merriweather Black'), local('Merriweather Bold'), local('Merriweather'), url('../fonts/Merriweather-Black.ttf') format('truetype');
}


@font-face {
font-family: 'Merriweather';
font-style: italic;
font-weight: 900;
src: local('Merriweather Black Italic'), local('Merriweather Bold Italic'), local('Merriweather Italic'), url('../fonts/Merriweather-BlackItalic.ttf') format('truetype');
}

//Merriweather Sans

@font-face {
font-family: 'Merriweather Sans';
font-style: normal;
font-weight: normal;
src: local('Merriweather'), url('../fonts/MerriweatherSans-Regular.ttf') format('truetype');
}

@font-face {
font-family: 'Merriweather Sans';
font-style: italic;
font-weight: normal;
src: local('Merriweather Sans'), url('../fonts/MerriweatherSans-Italic.ttf') format('truetype');
}


@font-face {
font-family: 'Merriweather Sans';
font-style: normal;
font-weight: 200;
src: local('Merriweather Sans'), url('../fonts/MerriweatherSans-Light.ttf') format('truetype');
}


@font-face {
font-family: 'Merriweather Sans';
font-style: italic;
font-weight: 200;
src: local('Merriweather Sans'), url('../fonts/MerriweatherSans-LightItalic.ttf') format('truetype');
}

@font-face {
font-family: 'Merriweather Sans';
font-style: normal;
font-weight: 700;
src: local('Merriweather Sans'), url('../fonts/MerriweatherSans-Bold.ttf') format('truetype');
}


@font-face {
font-family: 'Merriweather Sans';
font-style: italic;
font-weight: 700;
src: local('Merriweather Sans'), url('../fonts/MerriweatherSans-BoldItalic.ttf') format('truetype');
}

@font-face {
font-family: 'Merriweather Sans';
font-style: normal;
font-weight: 900;
src: local('Merriweather Sans'), url('../fonts/MerriweatherSans-ExtraBold.ttf') format('truetype');
}


@font-face {
font-family: 'Merriweather Sans';
font-style: italic;
font-weight: 900;
src: local('Merriweather Sans'), url('../fonts/MerriweatherSans-ExtraBoldItalic.ttf') format('truetype');
}