@charset "UTF-8";
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: normal;
  src: local("Merriweather"), url("../fonts/Merriweather-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: normal;
  src: local("Merriweather Italic"), url("../fonts/Merriweather-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 200;
  src: local("Merriweather Light"), local("Merriweather"), url("../fonts/Merriweather-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 200;
  src: local("Merriweather Light Italic"), local("Merriweather Italic"), url("../fonts/Merriweather-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 700;
  src: local("Merriweather Bold"), local("Merriweather"), url("../fonts/Merriweather-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 700;
  src: local("Merriweather Bold Italic"), local("Merriweather Italic"), url("../fonts/Merriweather-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 900;
  src: local("Merriweather Black"), local("Merriweather Bold"), local("Merriweather"), url("../fonts/Merriweather-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Merriweather";
  font-style: italic;
  font-weight: 900;
  src: local("Merriweather Black Italic"), local("Merriweather Bold Italic"), local("Merriweather Italic"), url("../fonts/Merriweather-BlackItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: normal;
  src: local("Merriweather"), url("../fonts/MerriweatherSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Merriweather Sans";
  font-style: italic;
  font-weight: normal;
  src: local("Merriweather Sans"), url("../fonts/MerriweatherSans-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 200;
  src: local("Merriweather Sans"), url("../fonts/MerriweatherSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Merriweather Sans";
  font-style: italic;
  font-weight: 200;
  src: local("Merriweather Sans"), url("../fonts/MerriweatherSans-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Merriweather Sans"), url("../fonts/MerriweatherSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Merriweather Sans";
  font-style: italic;
  font-weight: 700;
  src: local("Merriweather Sans"), url("../fonts/MerriweatherSans-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Merriweather Sans";
  font-style: normal;
  font-weight: 900;
  src: local("Merriweather Sans"), url("../fonts/MerriweatherSans-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Merriweather Sans";
  font-style: italic;
  font-weight: 900;
  src: local("Merriweather Sans"), url("../fonts/MerriweatherSans-ExtraBoldItalic.ttf") format("truetype");
}
/* Front page */
/* Podzol */
@-webkit-keyframes rotate-in-center {
  0% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotate-in-center {
  0% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}
.rotate-in-center {
  -webkit-animation: rotate-in-center 1.5s cubic-bezier(0.77, 0, 0.175, 1) infinite alternate backwards;
  animation: rotate-in-center 1.5s cubic-bezier(0.77, 0, 0.175, 1) infinite alternate backwards;
}

.warningConstruction {
  position: fixed;
  top: 25vh;
  left: calc((100vw - 50vh) / 2);
  box-sizing: border-box;
  width: 50vh;
  height: 50vh;
  border: 10px dashed red;
  display: grid;
  grid-template-rows: 90% 10%;
  align-items: center;
  justify-items: center;
  overflow: hidden;
  background-color: yellow;
}
.warningConstruction img {
  height: 100%;
  width: auto;
}
.warningConstruction span {
  font-style: italic;
  font-family: "Comic Sans", "Comic Sans MS", "Merriweather";
}
.warningConstruction button {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  box-sizing: border-box;
  width: 3.2em;
  height: 3em;
  border: 0.3em solid grey;
  border-radius: 0.3em;
  font-size: 1.2em;
}
.warningConstruction button:hover:not(:disabled), .warningConstruction button:active {
  background-color: lightgrey;
  outline: none;
}
.warningConstruction button:disabled {
  background-color: black;
}

div.disclaimer {
  font-size: 80%;
  font-weight: 200;
}

@-webkit-keyframes blinker {
  from {
    color: red;
    font-size: 3em;
  }
  to {
    color: #55B7F7;
  }
}
.zrusenaAkceHeading {
  -webkit-animation-name: blinker;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.23, 0.12, 0.5, 1);
  -webkit-animation-duration: 1.7s;
}

.divaSeNaPepcu {
  transform: scaleX(-1);
}

#ucastniciList {
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  text-align: center;
  margin-bottom: 2em;
}
#ucastniciList table {
  min-width: 100%;
  justify-self: center;
  border-spacing: 0;
}
@media (min-width: 600px) {
  #ucastniciList table {
    min-width: 50%;
  }
}
#ucastniciList table thead {
  background-color: #3D2601;
  color: rgba(255, 255, 255, 0.8);
  font-family: "Merriweather Sans", sans-serif;
  font-weight: normal;
  border-collapse: collapse;
}
#ucastniciList table thead tr:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
#ucastniciList table tbody {
  font-weight: 200;
}
#ucastniciList table tr:nth-child(2n) {
  background-color: rgba(61, 38, 1, 0.15);
}
#ucastniciList table tr:hover {
  transition: background-color 0.1s;
  background-color: rgba(61, 38, 1, 0.2);
}
#ucastniciList table tr:hover:nth-child(2n) {
  background-color: rgba(61, 38, 1, 0.3);
}
#ucastniciList table th, #ucastniciList table td {
  font-weight: inherit;
  padding: 0.3em;
  text-align: center;
}

section.orgoveContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 70vw;
  grid-auto-rows: auto;
  padding: calc(1em + 5vw) max(15vw, calc((100vw - 800px) / 2)) 0;
  gap: 15vw 10vw;
  box-sizing: border-box;
  margin: 0 auto;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 600px) and (max-resolution: 1dppx), screen and (orientation: landscape) {
  section.orgoveContainer {
    grid-template-columns: repeat(2, min(calc((800px - 15vw)/ 2), 30vw));
    grid-auto-rows: 1fr;
    gap: 5em;
  }
}
section.orgoveContainer .org {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: min(15em, 30vw) 2em auto;
  grid-row-gap: 0.5em;
  width: 100%;
  height: 100%;
  /*picture {
  	display: grid;
  	align-items: end;
  	justify-items: center;
  	overflow: hidden;
  	height: 100%;
  }

  img {
  	max-width: 100%;
  	//max-height: 100%;

  	>img {
  		overflow: hidden;
  		height: 100%;
  		width: 100%;
  	}
  }*/
}
section.orgoveContainer .org > * {
  width: 100%;
}
section.orgoveContainer .org p {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
section.orgoveContainer .org p:nth-of-type(1) {
  text-align: center;
  font-weight: normal;
}
section.orgoveContainer .org p:nth-of-type(2) {
  text-align: justify;
  hyphens: auto;
  word-wrap: break-word;
  align-self: start;
  font-size: 0.9em;
  overflow-y: auto;
  height: 100%;
}
section.orgoveContainer .org .orgobrazek {
  width: min(45vw,100%);
  height: 30vw;
  max-height: 100%;
}
section.orgoveContainer .org .orgobrazek.dalibor {
  background: url("../img/orgove/dalibor.jpeg") no-repeat center center/cover;
}
.webp section.orgoveContainer .org .orgobrazek.dalibor {
  background: url("../img/orgove/dalibor.webp") no-repeat center center/cover;
}
section.orgoveContainer .org .orgobrazek.jirka {
  background: url("../img/orgove/jirka.jpeg") no-repeat center center/cover;
}
.webp section.orgoveContainer .org .orgobrazek.jirka {
  background: url("../img/orgove/jirka.webp") no-repeat center center/cover;
}
section.orgoveContainer .org .orgobrazek.dan {
  background: url("../img/orgove/dan.jpeg") no-repeat center center/cover;
}
.webp section.orgoveContainer .org .orgobrazek.dan {
  background: url("../img/orgove/dan.webp") no-repeat center center/cover;
}
section.orgoveContainer .org .orgobrazek.pepca {
  filter: brightness(1.2);
  background: url("../img/orgove/pepca.jpeg") no-repeat center center/cover;
}
.webp section.orgoveContainer .org .orgobrazek.pepca {
  background: url("../img/orgove/pepca.webp") no-repeat center center/cover;
}

body {
  max-height: 100vh;
  max-width: 100vw;
  margin: 0;
  overflow-x: visible;
  overflow-y: scroll;
  font-family: Merriweather, sans-serif;
  font-size: initial;
  /*background-image:
  	url(../img/anthill.svg),
  	linear-gradient(to bottom, $bgcSky, $bgcSky 90vh, $bgcGrass 90vh, $bgcGrass),
  	linear-gradient(to bottom, $bgcHumus, $bgcHumus 15vh, $bgcEluvial2 calc(15vh + 1%), $bgcEluvial2 60%, $bgcIluvial1 61%, $bgcIluvial2 80%, $bgcParent 81%, $bgcParent);
  background-position:
  	left calc((100vw - 62.5vh) / 2) bottom 10vh,
  	top left,
  	top 100vh left;
  background-size: auto 40vh, auto 100vh, auto;*/
  background: url(../img/anthill.svg) left calc((100vw - 62.5vh) / 2) bottom 10vh/auto 40vh no-repeat, url(../img/strom.svg) right bottom 10vh/auto 40vh space no-repeat, linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 85vh, #51904F 85vh, #488046 90vh, rgba(255, 255, 255, 0) 90vh, rgba(255, 255, 255, 0)) top left/auto no-repeat, url(../img/strom.svg) left 2vw bottom 15vh/auto 15vh repeat no-repeat, linear-gradient(to bottom, #55B7F7, #55B7F7 90vh, #488046 90vh, #3e6f3d 99%, #3D2601) top left/auto 100vh no-repeat, white;
}
@media (min-resolution: 1.5dppx) and (orientation: landscape), (-webkit-min-device-pixel-ratio: 1.5) and (orientation: landscape) {
  body {
    font-size: 14pt;
  }
}
@media (min-resolution: 1.5dppx) and (orientation: portrait), (-webkit-min-device-pixel-ratio: 1.5) and (orientation: portrait) {
  body {
    font-size: 24pt;
  }
}
@media (min-resolution: 2dppx) and (orientation: portrait), (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  body {
    font-size: 30pt;
  }
}
body > main > * {
  margin: 0 0 -1em;
}
body > main > :nth-child(1) {
  background: linear-gradient(to bottom, #3D2601, #3D2601 15vh, #57574A calc(15vh + 1%), #57574A 95%, #D0D0CA 99%, #D0D0CA);
  color: rgba(255, 255, 255, 0.8);
  padding-bottom: 1em;
}
body > main > :nth-child(2) {
  background: #D0D0CA;
}
body > main > :nth-child(3) {
  background: linear-gradient(#D0D0CA, #D0D0CA 49.5%, #795D49 50.5%);
}
body > main > :nth-child(4) {
  background: linear-gradient(#795D49, #8F7961 90%, #BBAB8B 94%, #BBAB8B);
}
body > footer {
  background: #BBAB8B;
}
body > header {
  width: 100%;
  height: 100vh;
  padding: 0.8em 0.8em 55vh;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
  text-align: center;
  gap: 0.8em;
}
body > header > * {
  align-self: end;
  margin: 0;
  max-width: 500px;
  justify-self: center;
}
body > header :last-child {
  align-self: start;
}
body > main {
  margin-bottom: -0.5em;
  padding-bottom: 0.5em;
}
body > main > section:first-child {
  padding-top: 15vh;
}
body > footer {
  min-height: 30vh;
  margin-top: -0.5em;
}
body > main > section {
  display: grid;
}
body > main > section > * {
  max-width: 800px;
  justify-self: center;
}
body > footer {
  display: grid;
  box-sizing: border-box;
  padding: 0.5em max(2em, calc((100vw - 800px) / 2)) 2em;
  grid-template-columns: fit-content(calc(100vw - 2em * 2));
  justify-content: center;
}
body > footer > * {
  width: 100%;
}

.applyButtonContainer {
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 2em;
}
.applyButtonContainer a.applyButton {
  display: grid;
  align-items: center;
  justify-items: center;
  padding: 2.5em;
  background-color: #3D2601;
  transition: all 0.2s;
  border-radius: 1em;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  color: white;
  font-family: "Merriweather Sans", sans;
}
.applyButtonContainer a.applyButton:hover {
  background-color: #291901;
}
.applyButtonContainer a.applyButton:active {
  background-color: red;
}

section.infoContainer {
  padding: 0.5em 2em;
}
section.infoContainer p {
  font-style: italic;
  text-align: justify;
  hyphens: auto;
  word-wrap: break-word;
}

section.ucastniciContainer {
  display: grid;
  align-items: center;
  justify-items: center;
  padding-bottom: 2em;
}

a {
  color: #444444;
}
a[href^=mailto]::before {
  content: "✉️";
  padding-right: 0.2em;
  text-decoration: none;
  display: inline-block;
}
a:hover {
  color: #111111;
}

h3 {
  width: 100%;
  text-align: center;
  font-weight: 200;
  letter-spacing: 0.2em;
  font-family: "Merriweather Sans", sans-serif;
}

p {
  font-weight: 200;
}

strong.tucne {
  font-weight: 900;
}

.buttonDisabled:hover {
  background-color: gray !important;
  cursor: not-allowed;
}

/*# sourceMappingURL=main.css.map */
